{% extends 'bloggings/model.html' %}

{% block content %}

<main>
  <ul>
    {% for post, comment in postD.items %}
      <a href="{% url 'details' post.id %}">
          <li id="post">
            <span id="user">{{ post.user }}</span><br/>
            <span id="post-content">
              <span>{{ post.title }}</span>&nbsp&nbsp&nbsp&nbsp{{ post.theme }}<br/>
              {{ post.content }}
              <span>
                <br/>Ajouté le {{ post.addDate }} à {{ post.addHour }}
                <br/>Modifié le {{ post.modifDate }} à {{ post.modifHour }}
              </span><br/>
              <span>{{ comment }} commentaires</span>
              &nbsp&nbsp <span>{{ post.like }} j'aime</span>
              &nbsp&nbsp <span>{{ post.dislike }} j'aime pas</span>
            </span>
          </li>
        </a>
    {% endfor %}
  </ul>
  <a href="{% url 'add-post' %}"><h2>Ajouter votre article</h2></a>
</main>

{% endblock %}
