{% extends 'bloggings/model.html' %}

{% block content %}

<main>
  {% if result != None %}
    <h2 style="text-align: center">Résultats pour "{{ result }}"</h2>
  {% else %}
    <h2 style="text-align: center">Articles</h2>
  {% endif %}
  <ul>
    {% for post, comment in postD.items %}
      <a class="posts" href="{% url 'details' post.id %}">
        <HR NOSHADE>
          <li class="post">
            <span class="user"><i class="fa-solid fa-circle-user"></i>&nbsp&nbsp&nbsp{{ post.user }}</span><br/>
            <span class="post-content">
              <span class="post-title">{{ post.title }}</span>
              &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
              <span class="theme">Thème : {{ post.theme }}</span><br/>
              <br/>&nbsp&nbsp&nbsp&nbsp{{ post.content|truncatechars:50 }}<br/>
              <span class="info">
                <br/>Ajouté le {{ post.addDate }} à {{ post.addHour }}
                <br />Modifié le {{ post.modifDate }} à {{ post.modifHour }}
              </span><br/>
              <span class="action">{{ comment }}&nbsp<i class="fa-solid fa-comment"></i>
              &nbsp&nbsp
              <a class="action" href="{% url 'home-like' post.id %}">
                {{ post.like }}&nbsp<i class="fa-solid fa-thumbs-up"></i>
              </a>
              &nbsp&nbsp&nbsp
              <a class="action" href="{% url 'home-dislike' post.id %}">
                {{ post.dislike }}&nbsp<i class="fa-solid fa-thumbs-down"></i>
              </a>
              &nbsp&nbsp&nbsp</span>
            </span>
          </li>
          <HR NOSHADE>
        </a>
    {% endfor %}
  </ul>
  <a href="{% url 'add-post' %}" style="text-align: center; padding-top : 50%"><h2>Ajouter votre article</h2></a>
</main>

{% endblock %}
