{% load static %}

<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <title>Nice Share</title>
    <link rel="stylesheet" href="{% static 'bloggings/styles.css' %}" />
    <link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'fontawesomefree/css/brands.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css"/>
  </head>

  <body>
    <header>
      <h1>Nice Share</h1>
    </header>

    <main>
      {% if messages %}
        {% for message in messages %}
          <script>
            alert('{{ message }}');
          </script>
        {% endfor %}
      {% endif %}
      <h2>Se connecter</h2>
      <form method="POST" action="">
          {% csrf_token %}
          <input type="text" name="username" placeholder="login"/><br/>
          <input type="password" name="password" placeholder="password"/><br/>
          <input type="submit" value="Connexion"/>
      </form>
      Vous n'avez pas encore de compte ?
      <a href="{% url 'sign-up' %}">Créer un compte</a>
    </main>

    <footer></footer>
  </body>

</html>
