{% load static %}

<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <title>Nice Share</title>
    <link rel="stylesheet" href="{% static 'bloggings/styles.css' %}" />
    <link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'fontawesomefree/css/brands.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css"/>
  </head>

  <body>
    <header>
      <h1>Nice Share</h1>
      <nav>
        {% if request.user.is_authenticated %}
          <h3>{{ user }}</h3>
          <a href="{% url 'logout' %}">Se déconnecter</a>
        {% else %}
          <a href="{% url 'connexion' %}">Se connecter</a>
        {% endif %}
      </nav>
    </header>

    <main>
      {% block content%}{% endblock %}
    </main>

    <footer></footer>
  </body>

</html>
